.panel-default>.panel-heading {
    color: white;
    font-size: 24px;
    font-family: 'Source Sans Pro',sans-serif;
    text-align: center;
    background-color: #435d7d !important;
    border-color: #ddd;
}

.panel-body {
    font-family: 'Source Sans Pro',sans-serif;
}

.form-group{
	font-family: 'Varela Round', sans-serif;
}

.panel{
-webkit-box-shadow: 0px 7px 23px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 7px 23px -4px rgba(0,0,0,0.75);
box-shadow: 0px 7px 23px -4px rgba(0,0,0,0.75);
}